.tiny {
  font-size: 75%;
}

.small {
  font-size: 85%;
}

.med {
  font-size: 110%;
}

.large {
  font-size: 125%;
}

.larger {
  font-size: 140%;
}

/* Code line in both boxes */ 
.remark-code * {
 background: #f0f0f0;
}

.pull-left-big {
  float: left;
  width: 52%;
}

.pull-right-small {
  float: right;
  width: 41%;
}